In [1]:
#list

sports = ['cricket','1','basketball','carrom','hockey']
print(sports)

['cricket', '1', 'basketball', 'carrom', 'hockey']

In [2]:
sports[1] = 'tennis'
print(sports)

['cricket', 'tennis', 'basketball', 'carrom', 'hockey']

In [3]:
sports[3] = 4
print(sports)

['cricket', 'tennis', 'basketball', 4, 'hockey']

In [4]:
sports.append('relay')
print(sports)

['cricket', 'tennis', 'basketball', 4, 'hockey', 'relay']

In [5]:
for i in range(len(sports)):
    if sports[i] == 4:
        sports[i] = "carrom"
print(sports)

['cricket', 'tennis', 'basketball', 'carrom', 'hockey', 'relay']

In [7]:
sports.remove('basketball')
print(sports)

['cricket', 'tennis', 'carrom', 'hockey', 'relay']

In [8]:
x = sports.pop()
print(x)

relay

In [9]:
x = sports.pop(-1)
print(x)

hockey

In [11]:
my_tuple = ['apple','orange','mango','cherry']
x = my_tuple[1]
print(x)

orange

In [12]:
my_list = list(my_tuple)
print(my_list)

['apple', 'orange', 'mango', 'cherry']

In [13]:
my_tuple1 = ['apple','orange','mango','cherry']
my_list1 = []
for i in my_tuple1:
    my_list1.append(i)
print(my_list1)

['apple', 'orange', 'mango', 'cherry']

In [14]:
#dictionary

students = {"name": "Theophila",
            "age": 21,
            "branch":"cse"}
print(students["name"])

Theophila

In [15]:
students["name"] = "geetha"
print(students)

{'name': 'geetha', 'age': 21, 'branch': 'cse'}

In [16]:
x = []
for students, details in students.items():
    if details == "xyz":
        x.append(students)
print(x)

[]

In [17]:
#set

set1 = {"apple","banana","chery","apple"}
set1.add("apple")
print(set1)

{'banana', 'chery', 'apple'}